.captionSize {
    font-size: 24px;
}

.brand {
    background-color: rgb(16, 173, 166);
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutTextColor {
    color: rgb(16, 173, 166);
}
.navTextEm {
    text
}

.marginCont {
    margin-left: 20px;
}

.marginBottomCont {
    margin-bottom: 150px;
}

.marginBottomCol {
    margin-bottom: 20px;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-attachment: scroll;
}

.padding {
    padding-right: 20px;
  }

.outerDiv {
    position:relative;
}

.aAbsolute {
    position:absolute;top: auto;right: auto; z-index: 1000;
}

.johnPic {
  max-width: 100%;
  height: auto;
  max-height: 260px;
}

.porfolioPic {
    max-width: 100%;
    height: auto;
    max-height: 260px;
}